<!DOCTYPE html>
<html>
<head>
    <title>Leaflet WMS Layer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map { height: 400px; }
    </style>
</head>
<body>

<div id="map"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var map = L.map('map').setView([0, 0], 2);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

   // 获取站点数据并显示在地图上
    fetch('/get_point_data/')
        .then(response => response.json())
        .then(data => {
            L.geoJSON(data, {
                pointToLayer: function (feature, latlng) {
                    return L.marker(latlng);
                }
            }).addTo(map);
        });

    // 创建缓冲区
    fetch('/create_buffer/?distance=1000')  // 假设缓冲区距离为1000
        .then(response => response.json())
        .then(data => {
            L.geoJSON(data).addTo(map);
        });

</script>

</body>
</html>
